div
 video(width='800', height='480', ref="video" controls)
  source(src='https://crest-multimedia-web.s3.amazonaws.com/uploads/attachment/movie/file/1890/2017-01-12_00_41_30.mp4')
div
 svg#tagList(ref="tagList")
 svg#chart(ref="chart")
 ChartItem
