body {
  max-width:50em;
  margin-right:auto;
  margin-left:auto;
  padding:1em;
  font-family:sans-serif;
}
.axis path,
.axis line {
  fill:none;
  stroke:#000;
  shape-rendering:crispEdges;
}
.x.axis path {
  display:none;
}
.line {
  fill:none;
  stroke:#7AB877;
  stroke-width:3px;
}
text {
  font-size:10px;
}
